
h1{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 80px;
    margin-left: 300px;
    margin-top: 20px;
    width: auto;
    color:#796d59;
}
body{
    display: block;
    margin: 8px;
}

.bg{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.img{
    background-image: url("images/bakeg22.jpeg");
    background-size: cover;
    opacity:0.5;
    width: 100%;
    height: 800px;
    position: absolute;
}

.front{
    position: absolute;
    /* left: 0;  */
    opacity:1;

}
.mainbox{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 460px;  
}
.ele{
    padding-top: 30px;
}
.box{
    width: 157px;
    height: 147px;
    border:  #928f8a;
    background-color: rgba(255, 255, 255, 0.281);
    border-style: groove;

}

.container{
    display:flex; 
    flex-flow: wrap;
    width: 100%;
    height: auto;
    margin-top: 60px;
    justify-content: space-around;   
}
.middle{
    height: 480px;
    width:500px;
}

.clear{
    clear: both;
}
#reset{
    font-family: "Comic Sans MS", cursive, sans-serif;
    float: right;
    width: 162px;
    height: 80px;
    color: #796d59;
    font-size: 20px;
    margin-right: 150px;
    margin-top: 0px;
    border: 5px #928f8a;
    background-color:rgba(255, 255, 255, 0.596);
    border-style: groove;
}
#playAgin{
    font-family: "Comic Sans MS", cursive, sans-serif;
    float: left;
    width: 162px;
    height: 80px;
    color: #796d59;
    font-size: 20px;
    margin-right: 0px;
    /* border-style: groove; */
    /* margin: 10px; */
    border: 5px groove #928f8a;
    background-color:rgba(255, 255, 255, 0.596);
}

.honey{
  
    width: 178px;
    height: 180px;
    margin-top: 150px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 60px;
    color: #796d59;

}
.honey p{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 45px;
    color: #796d59;
    
}
.sugar{
    float: right;
    width: 178px;
    height: 180px;
    margin-top: 150px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 60px;
    color: #796d59;
    
}
.sugar p{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 45px;
    color: #796d59;
}

#playerA {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
}
#playerJ {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
}
